name: "ZAP Baseline Scan"
on:
  workflow_dispatch: {}
  
  push:
    branches:
    - main
    - master
    
permissions:
  contents: read
  checks: write
  
jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Run OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: 'http://testphp.vulnweb.com'
          fail_action: false
        
      - name: Upload ZAP Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: zap-baseline-report
          path: |
            zap-report.html
            zap-report.json
 
